{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h2><i class="bi bi-shield-lock"></i> Privacy Policy</h2>
                </div>

                <div class="card-body" style="text-align: justify;">
                    <p class="text-muted">Last updated: {{ data_atual }}</p>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">1. Privacy Policy</h3>
                        <p>Insight Finance is committed to respecting the privacy of its clients, employees and other
                            visitors who use our platforms, as well as the protection and security of their data.</p>
                        <p>
                            Insight Finance recognizes that your security and privacy are very important, so we take all
                            possible measures, within the best practices and existing solutions, to protect it. In this
                            sense, we recommend that all of our employees are aware of our practices.
                        </p>
                        <p>
                            This Privacy Policy is intended to help you understand what information we collect, why we
                            collect it and how you can exercise your right under Insight Finance's processing of your
                            personal data, i.e. how we ensure the security of your information and how you can access it
                            and request changes, for example.
                        </p>

                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">2. Data collected</h3>
                        <p>We collect and process information provided by you by filling in the forms available on our
                            platforms, so we understand that you declare that you agree with our privacy policy,
                            especially when you register and accept the terms and conditions of use of our platforms.
                        </p>
                        <p>We collect the following types of information:</p>
                        <ul>
                            <li>Identification data: name, email</li>
                            <li>Financial data: transactions, categories</li>
                            <li>Technical data: IP, browser, device, tokens</li>
                        </ul>
                        <p><strong>sensitive personal data:</strong></p>
                        <ul>
                            <li>IP: we identify the IP address number when accessing our platforms, in order to increase
                                security, since, in the event of fraud, we will provide it to the competent authorities
                            </li>
                            <li>
                                Device information: we collect information about the model, operating system, preferred
                                language, unique identifiers and serial number of the device
                            </li>
                            <li>
                                Financial Transaction Information: we collect financial transaction information to
                                enable and verify the subscription to our services, as well as to provide the best use
                                of our platforms to the user.
                            </li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">3. Data processing</h3>
                        <p>Your data is used for:</p>
                        <ul>
                            <li>Provide platform functionalities</li>
                            <li>Improving our services</li>
                            <li>Send important alerts</li>
                            <li>Developing and improving our services and products</li>
                        </ul>
                        <p>
                            All personal data and information will be treated as confidential, and only used for the
                            purposes described and authorized herein, mainly so that you can make full use of our
                            services, always aiming to improve our customers' experience. In this way, we can customize
                            our services and products to
                            increasingly tailor them to your preferences, needs and interests.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">4. Bases legais</h3>
                        <p>We have adapted all our processes that collect and process data to the legal bases set out in
                            article 7 of the LGPD (General Data Protection Act).</p>
                        <p>
                            The legal bases we use are:
                        </p>
                        <ul>
                            <li>Consent by the holder</li>
                            <li>Compliance with a legal or regulatory obligation by the controller</li>
                            <li>Execution of contract or preliminary procedures</li>
                            <li>Legitimate interests of the controller or third parties</li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">5. Protection of personal data</h3>
                        <p>
                            Insight Finance informs that it values and continuously improves its security, technical and
                            administrative measures necessary to protect the stored data against unauthorized access,
                            accidental or illicit situations of destruction, loss, alteration, communication or any form
                            of inadequate or illicit treatment, according to the technology currently available.
                        </p>
                        <p>
                            In addition, Insight Finance respects and protects your data in accordance with the main
                            security standards and other Brazilian legislation. We apply the principles of Privacy By
                            Design (privacy in development or from conception), processing data only with a guarantee of
                            a high level of security and implementing the best data protection practices.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">6. Responsibility of the holder of personal data</h3>
                        <p>
                            Our platforms may request permission to access services and files on your device, so please
                            remember that any content you send to one of our platforms is your responsibility.
                        </p>
                        <p>
                            To ensure your safety, we would like to point out some very important precautions:
                        </p>
                        <ul>
                            <li>Protect your access credentials (passwords, electronic signatures, security codes,
                                etc.), they are personal and non-transferable
                            </li>
                            <li>
                                Insight Finance does not contact the client by any means to request access passwords,
                                electronic signatures, tokens or any security code or response.
                            </li>
                        </ul>
                        <p>
                            <strong>
                                In the event of any suspicion, please contact Insight Finance immediately via one of our
                                main official channels.
                            </strong>
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">7. Policy control</h3>
                        <p>
                            We may update our Privacy Policy from time to time, however, we will notify you of any
                            changes. However, it is advisable to review our Privacy Policy from time to time for any
                            changes.
                        </p>
                        <p>
                            Changes to our Privacy Policy are effective when posted on this page.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}