{% extends "base.html" %}

{% block content %}
<div class="p-2">
    <h2 class="mb-4">Reset Password</h2>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <div class="mb-3">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="mb-3">
                <label for="confirm_password">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>

            <small class="form-text text-muted mb-4">
                Requirements:
                <ul>
                    <li>Minimum 6 characters</li>
                    <li>At least one uppercase letter</li>
                    <li>At least one special character</li>
                    <li>At least one number</li>
                </ul>
            </small>

            <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>

{% endblock %}