{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow" style="text-align: justify;">
                <div class="card-header bg-primary text-white">
                    <h2><i class="bi bi-file-earmark-text"></i>Terms of Use</h2>
                </div>

                <div class="card-body">
                    <p class="text-muted">Last updated: {{ data_atual }}</p>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">1. Acceptance of Terms</h3>
                        <p>By using the Insight Finance platform, you agree to these terms:</p>
                        <p>The “Insight Finance” Platform, which is the legitimate and exclusive property of Matheus
                            Santos Lima, aims to serve as a tool for financial management and holds you, the User,
                            responsible for complying with these General Terms and Conditions of Use.
                        </p>
                        <p>
                            The General Terms and Conditions of Use are fully publicized, so any claim of ignorance of
                            the rules and obligations set out herein will not be considered.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">2. Proper Use</h3>
                        <p>The user undertakes to:</p>
                        <ul>
                            <li>Provide accurate and up-to-date information</li>
                            <li>Do not use the platform for illegal activities</li>
                            <li>Take responsibility for all activities on your account</li>
                        </ul>
                        <p>Insight Finance is an online personal finance control platform that helps people manage their
                            finances simply and easily. The platform allows you to register your transactions with
                            certain types of financial information (such as posting and scheduling income, expenses and
                            transfers, categorizing them, viewing reports, among other features) to help you manage your
                            personal finances.</p>
                        <p>Use of our Platform does not give you intellectual property rights in the content you access
                            or related services. The commercial use of the expression “Insight Finance” as a brand,
                            business name or domain name, as well as the logos, brands, insignia, layout of the
                            Platform, content of the screens relating to the Platform services and the set of programs,
                            databases, networks and files that allow the User to access and use their account, are the
                            property of Insight Finance and are protected by the laws and international treaties of
                            copyright, trademarks, patents, models, industrial designs.</p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">3. Registration and Account</h3>
                        <p>You will need to create an Account to use our Platform. The User is fully responsible for the
                            integrity and veracity of his/her registration, and from that moment on, he/she undertakes
                            to keep his/her data always updated, under penalty of civil and criminal liability, in
                            addition to bearing the damages caused by the use of incorrect data, or third-party data,
                            regardless of the existence of fault.</p>
                        <p>When registering on the platform, the holder can add and/or remove additional users, as well
                            as change registration data. Therefore, all additional users are subject to the holder user,
                            including to remain active.</p>
                        <p>It is the User's sole responsibility to keep their computer, cell phone or tablet environment
                            safe, using available tools such as antivirus and firewall, among others, in order to
                            contribute to the prevention of electronic risks and, also, always using updated and
                            efficient software.</p>
                        <p>
                            The password registered by the User is for personal and non-transferable use, and the User
                            is solely responsible in the event of improper use by third parties. The password may be
                            changed at any time by the User, through the "Forgot my password" option on the login page.
                            For more information on personal data collected by Insight Finance, processing purposes,
                            possibility of sharing, as well as the rights of the holders, the CLIENT must access Insight
                            Finance's Privacy Policy, which is available in the platform registration.
                        </p>
                        <p>
                            <strong>To protect your Account, the User must keep the password confidential.</strong> The
                            activity carried out on or through the Account is the responsibility of the User. We do not
                            recommend that the Account password be reused in third-party applications. <strong>If you
                                become aware of unauthorized use of your password or Account, it is the User's
                                responsibility to change your password.</strong>
                            As a way of maintaining a higher level of security, we recommend that the User change their
                            password periodically.
                        </p>
                        <p>The User agrees to use the Platform only as provided in these Terms of Use. The User also
                            agrees not to use the Platform in any way that is in conflict with the law.</p>
                    </section>
                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">4. Data security and privacy</h3>
                        <p>Insight Finance's Privacy Policy discusses the processing of personal data and privacy
                            protection measures on our Platform. By using our Platform, you agree that Insight Finance
                            may use this data in accordance with our Privacy Policy. The Privacy Policy is an integral
                            and inseparable part of these Terms of Use and Conditions of Use of the Platforms and is
                            available for consultation when registering on the platform.</p>

                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">5. Modification and cancellation of use of the
                            platform
                        </h3>
                        <p>We are constantly changing and improving our Services. We may add or remove features or
                            functionality, and we may suspend or terminate a service altogether.
                        </p>
                        <p>In case of suspicion or confirmation of fraud, Insight Finance will contact the user and may
                            suspend their account indefinitely, including for their own security.</p>
                        <p>
                            You may stop using our Services at any time, although we will be unhappy to see you go. To
                            review the procedure, please visit our Privacy Policy. Insight Finance may also stop
                            providing Services to you, or add or create new limits to our Services at any time.
                        </p>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">6. Responsibility for use of the platform</h3>
                        <p>After electronic acceptance of these Terms of Use, Insight Finance will make access data
                            available to Users in accordance with the terms agreed herein, allowing access to all tools
                            made available to Users after login is released.
                        </p>
                        <p>
                            Insight Finance guarantees that, during the period of use of the Platform by Users, it will
                            function regularly on a reasonable basis, however, it is important to emphasize that Insight
                            Finance operates with hosting partners and computer processing partners that have an SLA
                            level of 99.5%.
                        </p>
                        <p>
                            Therefore, cases of unavailability and others described below are excluded:
                        </p>
                        <ul>
                            <li>Defect resulting from misuse of the Platform, due to failure to comply with the precepts
                                established by Insight Finance, such as lack of internet connection, discharged battery
                                or any other electronic defect of the device, hardware incompatibility, operating
                                system, use of third-party plugins and extensions in browser, insufficient memory, etc.
                            </li>
                            <li>If it is found that the system has been used or violated by unauthorized third parties,
                                as well as problems arising from procedures not indicated in the technical manuals, such
                                as hacking, cracking, crawler, mashups</li>
                            <li>Problems arising from telephone service companies that provide signals for internet
                                access, considered to be unforeseeable circumstances and force majeure</li>
                            <li>Due to equipment malfunction caused by a crash or unavailability of the server where the
                                SMS Gateway and the email sending service are hosted
                            </li>
                            <li>Insight is not responsible for the access or export of data whose services were acquired
                                from intermediaries. It is the user's responsibility to charge the intermediary for
                                access or export of data that was included in the Platform.</li>
                            <li>The following are not included in the support and assistance service: installations and
                                visits of any nature, database recovery, other procedures other than clarifying doubts
                                and providing information related exclusively to Insight Finance.</li>
                        </ul>
                    </section>

                    <section class="mb-5">
                        <h3 class="mb-3" style="text-align: left;">7. Copyright</h3>
                        <p>The computer programs, files, texts, icons, drawings, videos, sounds, brands, logos, layouts,
                            and templates inserted into the Platform are protected by the intellectual property rights
                            of Insight Finance or third parties that have authorized their use. Therefore, they are
                            protected by international laws and treaties, and their copying, alteration, reproduction,
                            or any other type of use is prohibited, and violators are subject to the corresponding civil
                            and criminal sanctions, under Laws No. 9,279/96, No. 9,610/98, and No. 9,609/98. Any
                            violation of Intellectual Property rights may result, in addition to the incidence of legal
                            liabilities, in the summary blocking of the User without prior notice, in which case nothing
                            will be owed to the latter.
                        </p>
                        <p>
                            Furthermore, the brands, trade names or logos of any kind presented through the Platform are
                            the property of Insight Finance or of a third party that has permitted their use, so that
                            the use of the Platform does not constitute authorization for the User to cite such brands,
                            trade names and logos.
                        </p>
                    </section>

                    <div class="alert alert-info">
                        <i class="bi bi-info-circle"></i>
                        Questions? Contact us by email: application e-mail
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}